@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Reenie+Beanie&display=swap');

body {
  background-color: #eae6db;
  font-family: 'Josefin Sans', sans-serif;
  margin:0;
}

h1 {
  color: #445852;
  font-family: 'Reenie Beanie', cursive;
  font-size: xxx-large;
  text-align: center;
}

h2 {
  color: #000;
  margin: 5px;
  padding: 5px;
}

.yarn {
  float: right;
  height: 60px;
  width: auto;
  margin: 5px;
  padding: 5px;
}

#player {
  margin: 5px;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #a36657;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 50px;
}

nav a:hover {
  color: #869876;
}
/*
.container {
  width: 800px;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
}
*/

.controls button {
  background-color: #eae6db;
  border: 1px solid #a36657;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 3px;
  padding: 5px;
}

.controls button:hover {
  background-color: #ffd4d4
  ;
}

footer {
  background-color:#99a88d;
  font-size: 14px;
  padding: 3px;
  
}